p {
  font-style: italic;
  font-family: arial, Helvetica, sans-serif;
  color: blue;
}
.header
{
  color: Black;
  text-align: center;
  padding: 3px;
}

.list {
  font-weight: normal;
  padding: 3px;
  list-style-type: none;
}
.label {
  font-weight: bold;
}
.html
{
  font-family: Arial, Helvetica;
}
#card {
  width: 300px;
  padding: 10px;
  border: 3px solid #cccccc;
  border-color: black;
  background-color: #C3C364;
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pic
{
  width: 300px;
}
#interesting
{
  margin: 0px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-color: black;
}
#pic {
  border-style: solid;
}
